pandas
selenium==4.15.2
webdriver-manager
requests==2.31.0
beautifulsoup4==4.12.2
SQLAlchemy==2.0.23
psycopg2-binary
python-dotenv==1.0.0
aiohttp
statsbombpy==1.11.0
pytest==7.4.3
pytest-cov==4.1.0
pytest-timeout==2.2.0

# webdriver-manager: sin versión fijada, se instala la última compatible con tu Chrome